{% extends 'base.html' %}
{% block content %}
<h1>Popular Products</h1>
<ul>
    {% for product in products %}
        <li>
            <div class="product">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                {% endif %}
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <p>Price: ${{ product.price }}</p>
                <a href="{% url 'products:product_detail' product.pk %}">View Details</a>
            </div>
        </li>
    {% empty %}
        <li>No popular products found.</li>
    {% endfor %}
</ul>
{% endblock %}